@charset "UTF-8";

div.container{
    background-color: black;

    display: flex;
    flex-flow: row wrap;
}

div.itens {
    background-color: gray;
    text-align: center;
    border: 1px solid black;
}