@charset "UTF-8";

body{
            background-color: black;
        }
        h1{
            color: blue;
        }
        h2{
            color: aqua;
        }
        p{
            color: cadetblue;
        }