@charset "UTF-8";

body{
    background-color: gray;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    background-color: white;
    margin: 10px;
    padding: 10px;
}

nav{
    background-color: lightslategray;
    padding: 3px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.39);
}
nav > a {
    text-decoration: none;
    margin-left: 10px;
    padding: 3px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
nav > a:hover{
    text-decoration: underline;
    background-color: black;
}
main{
    background-color: white;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}
article{
    background-color: darkslategrey;
    padding: 5px;
}
article > aside{
    background-color: darkgray;
    padding: 3px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 4px;
    margin: 0;
}
footer > p{
    margin: 0px;
}